/*  ----------------- General Styling ------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Inter-VariableFont";
  src: url(./font/Inter-VariableFont.ttf);
}

@font-face {
  font-family: "Lora-VariableFont";
  src: url(./font/Lora-VariableFont.ttf);
}

@font-face {
  font-family: "WorkSans-VariableFont";
  src: url(./font/WorkSans-VariableFont.ttf);
}

:root {
  --font-size: 16px;
}

body {
  max-width: 100vw;
}

h1,
h2,
h3 {
  font-family: "Inter-VariableFont", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 5.22rem;
  line-height: 5.1rem;
}

p,
a {
  font-family: "WorkSans-VariableFont", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.8rem 2rem 0.9rem;
  border: 1px solid white;
  transition: background-color 0.4s ease;
}

a:hover {
  color: black;
  background-color: white;
  border-color: white;
}

header,
footer {
  padding: 0 5rem;
}

header,
footer,
.section_statistic {
  background-color: black;
  color: white;
}

/*  ----------------- Header ------------------- */

/* * ---------- Section Hero ---------- */

.section_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
}

.line_img {
  filter: invert(100%);
  stroke-width: 3rem;
  height: 11.6rem;
  margin-bottom: 3rem;
}

h1,
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 5.5rem;
}

.section_hero p {
  font-size: 1.25rem;
}

.line_letters {
  color: black;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}

/* * ---------- Section Btn ---------- */

.section_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10rem;
}

/*  ----------------- Main ------------------- */

/* * ---------- Section Statistic ---------- */

.section_statistic {
  padding-bottom: 5rem;
}

.statistic_headline {
  padding: 0 5rem 5rem;
  min-width: 80%;
}

.statistic_data {
  /* background-image: url("./img/map.svg") no-repeat bottom right; */
  background-image: url("./img/map.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  max-width: 100%;
  padding-left: 5rem;
}

h2 {
  font-size: 6.1rem;
  line-height: 6.7rem;
  margin-bottom: 5rem;
}

.section_statistic h3 {
  font-size: 5.67rem;
}
.section_statistic p {
  font-size: 0.88rem;
}

.section_statistic h3,
.section_statistic p {
  margin-bottom: 1rem;
}

/* * ---------- Section Production ---------- */

.section_production {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  padding: 28rem 0 18rem;
}

.production_text {
  max-width: 28rem;
  min-width: 28rem;
  line-height: 1.85rem;
}

.production_text:first-of-type {
  margin-bottom: 36rem;
}

.production_text h3 {
  margin-bottom: 1rem;
}

/* .section_production img {
  max-width: 18rem;
} */

.section_production img:nth-child(1) {
  position: absolute;
  top: -4rem;
  right: 5rem;
  max-width: 21rem;
}

.section_production img:nth-child(2) {
  position: absolute;
  top: 18rem;
  left: 5rem;
  max-width: 18rem;
}

.section_production img:nth-child(4) {
  position: absolute;
  top: 42rem;
  right: 0;
  max-width: 18rem;
}

.section_production img:nth-child(5) {
  position: absolute;
  top: 56rem;
  left: 24rem;
  max-width: 21rem;
}

.section_production img:nth-child(6) {
  position: absolute;
  top: 67rem;
  right: 18rem;
  max-width: 21rem;
}

.section_production img:nth-child(8) {
  position: absolute;
  top: 84rem;
  left: 0;
  max-width: 18rem;
}

.section_production img:nth-child(9) {
  position: absolute;
  top: 102rem;
  right: 25rem;
  max-width: 27rem;
}

/* * ------------ Articles ------------ */

.article_design_01 {
  color: white;
  background-color: black;
  padding: 10rem 5rem 10rem;
  height: 75.6rem;
}

.article_design_02 {
  padding: 25rem 5rem 10rem;
  height: 90rem;
}

.wrapper_design_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.design_headline {
  font-size: 5.35rem;
}

.article_design_01 p:first-child,
.article_design_02 p:first-child,
.design_quote p:first-child {
  margin-bottom: 2rem;
}

.article_design_01 p:first-child,
.article_design_02 p:first-child,
.design_quote p:last-child {
  font-family: "WorkSans-VariableFont";
  font-size: 1.1rem;
  font-weight: 400;
}

.design_quote {
  max-width: 34.28rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.design_quote p:first-child {
  font-size: 1.8rem;
  font-weight: 700;
}

.design_quote p:last-child {
  margin: 0;
}

.article_design_01 img:first-of-type,
.article_design_02 img:last-of-type {
  max-width: 45.68rem;
}

.article_design_01 img:last-of-type,
.article_design_02 img:first-of-type {
  max-width: 22.87rem;
}

.article_design_01 .wrapper_design_imgs {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.article_design_02 .wrapper_design_imgs {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.article_design_01 img:first-of-type {
  position: absolute;
  bottom: -50rem;
}

.article_design_01 img:last-of-type {
  position: absolute;
  left: 42rem;
  bottom: 5rem;
  bottom: -45rem;
}

.article_design_02 img:first-of-type {
  position: absolute;
  right: 42rem;
  bottom: 5rem;
}

/* ? ---------- Circle-Animation --------- */

.wrapper_circle {
  max-width: 12.8rem;
  position: absolute;
  right: 0rem;
  z-index: -1;
  transform: translate(0, -8rem);
  overflow: hidden;
}

.wrapper_circle img {
  width: 25.6rem;
  height: 25.6rem;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  ----------------- Footer ------------------- */

footer {
  border-top: 14rem solid #f5f5f5;
  padding-top: 5rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.section_footer_text {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 8rem;
}

.wrapper_footer_text {
  max-width: 31.2rem;
}

.wrapper_footer_text p:first-child {
  font-family: "WorkSans-VariableFont";
  font-size: 0.75rem;
  font-weight: 400;
}

.wrapper_footer_text p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

.section_footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper_socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper_socials img {
  max-width: 1.5rem;
}

.section_footer_info a {
  border: none;
  padding: 0;
  margin: 0 0.7rem 1rem 0;
}

.div_logos {
  margin-right: 5rem;
}

.div_logos img {
  max-width: 7rem;
  margin-left: 2rem;
}

/* ? ---------- Banner-Animation --------- */

.banner_date {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  transform: rotate(40deg);
}

.banner_date p {
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Lora-VariableFont", "serif";
  font-weight: 700;
  font-size: 5.5rem;
  animation: repeatBanner 4s linear infinite alternate;
  white-space: nowrap;
}

.line_letters {
  color: white;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

@keyframes repeatBanner {
  from {
    transform: translateX(-38%);
  }
  to {
    transform: translateX(0%);
  }
}
